.header-wrapper #site-navigation{
	background: #000000;
}

.top-header-block{
	background: #000000;
}
.header-wrapper .menu li{	
	background-image:url(images/menu-bg.png) repeat-y scroll right top #000000;

}