.header-wrapper #site-navigation{
   background: #77A53B;
}

.top-header-block{
	background: #77A53B;
}
.header-wrapper .menu li{	
	background-image:url(images/menu-bg.png) repeat-y scroll right top #77A53B;
	
}
